<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>RECUPERAR CONTRASEÑA</ion-title>
    <ion-buttons slot="start" text="Salir" color="#ffffff" >
      <ion-back-button type="ios" defaultHref="/" (click)="salir()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="newpassword">
  <ion-card class="card">
    <img alt="Silhouette of mountains" src="assets/imagen/img-password.svg" class="azul img-card"/>
    
    <ion-item>
      <ion-input label="Contraseña" formControlName="contrasena" type="password" label-placement="floating" fill="solid" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Confirmar Contraseña" formControlName="confirmarContrasena" type="password" label-placement="floating" fill="solid" ></ion-input>
    </ion-item>

    <ion-card-content>
      <ion-button fill="solid" class="button-login azul" (click)="newpass()"> <ion-icon name="log-in"  slot="end"></ion-icon> Iniciar Sesión</ion-button>
      
    </ion-card-content>
  </ion-card>
</form>
</ion-content>
