<ion-header [translucent]="true">
  <ion-toolbar class="azul header">
    <ion-title>Bienvenido! {{parametro}}</ion-title>
    <ion-buttons slot="start" text="Salir" color="#ffffff" >
      <ion-back-button defaultHref="/" (click)="cerrarSesion()"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <img alt="Bienvenidos" src="assets/imagen/img-welcome.svg" class="azul"/>
    <ion-card-header>
      <ion-card-title class="letra-titulo">Hola {{parametro}}</ion-card-title>
      <ion-card-subtitle class="letra-subtitulo">Esta es nuestra Evaluación</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="letra-p">
      Atte: David Cuevas y Jose Quiroz
    </ion-card-content>
  </ion-card>

  
</ion-content>
