<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>INGRESE SU CORREO</ion-title>
    <ion-buttons slot="start" text="Salir" color="#ffffff" >
      <ion-back-button type="ios" defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <form [formGroup]="recuperar">
    <ion-card class="card">
      <img alt="Silhouette of mountains" src="assets/imagen/img-password.svg" class="azul img-card"/>
      
      <ion-item>
        <ion-input label="Correo" formControlName="correo"  label-placement="floating" fill="solid"  type="email" errorText="Correo invalido"
        ngModel
        email></ion-input>
      </ion-item>

      <ion-card-content>
        <ion-button fill="solid" class="button-login azul" (click)="formatear()">ACEPTAR</ion-button>
        
      </ion-card-content>
    </ion-card>
  </form>
</ion-content>
